<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your cart!</title>
</head>
<body>
    <h1 style="text-align: center;"> Your cart!</h1>
    <div style="display: flex; width: 500px; height: 500 px; flex-direction: column; align-items: baseline; border: 5px solid #3b323d;">
        <img src="https://m.media-amazon.com/images/I/61IqytXadEL._SL1024_.jpg"  style="width:60%">
        <h2 style="align-self: center;">Wondersong - PS4</h2>
        <br>
        <h6  style="align-self: center;">19.99 USD</h6>
        <p  style="align-self: center;">68.70 NIS</p>
    </div>
    <a href="{{url_for ('home')}}">Back to the home screen!</a>
    <a href="{{url for ('product')}}">For more products!</a>
</body>
</html>