<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flaxiton Gaming</title>
</head>
<body>
    <h1>Flaxiton Gaming - The best way to get into games!</h1>
    <form>
        <label for="search">What do you wanna look for?</label><br>
        <input type="text" name="search"><br><br>
        <input type="submit" name="submit">
    </form>
    <p>Two childhood friends wanted to share their love for games. That's what they did! This is THE BEST store for you to buy and hear opinions about new releases!</p>
    <h2>So come on and join us!</h2>
    <div>
        <h2>Some new recommended releases! </h2>
        <img src="https://image.api.playstation.com/vulcan/ap/rnd/202206/0300/E2vZwVaDJbhLZpJo7Q10IyYo.png" style="height: 300px; width: 300px;">
        <img src="https://m.media-amazon.com/images/I/81fUufF8JjL._SY445_.jpg" style="height: 300px; width: 300px";>
    </div>
</body>
</html>